# Игнорировать node_modules
node_modules

# Игнорировать файлы логов
*.log

# Игнорировать директорию dist
dist

# Игнорировать .env файлы
.env

# Игнорировать временные файлы
*.tmp
*~

# Игнорировать тестовые файлы
/test/
*.spec.js